{
	"swagger": "2.0",
	"info": {
		"description": "<h6><b>Overview</b></h6>\nThe customer bill API allows to find and retrieve one or several customer bills (also called invoices) of a customer. A customer bill is an electronic or paper document that gathers different items to be charged to a party. It represents a total amount due for all the products during the billing period and all significant associated information.\n\n<h6><b>Sample use cases</b></h6>\nFront-End applications need to display information about the customer bills produced for postpaid and hybrid customers. These customer bills are managed on local IS Back-Ends. For example, they have to find and retrieve :\n<ul><li>Main information about a customer bill (amount due, due date, status, remaining amount to be paid, …)</li>\n<li>A customer bill history with a defined proof (a list of customer bills with their payment history for example)</li>\n<li>A customer bill image (pdf file for example)</i></ul>",
		"version": "1.1.0_release",
		"title": "API CustomerBill"
	},
	"host": "api.orange.com",
	"basePath": "/",
	"schemes": ["http"],
	"consumes": ["application/json;charset=utf-8"],
	"produces": ["application/json;charset=utf-8"],
	"tags": [{
			"name": "customerBill",
			"description": ""
		}, {
			"name": "appliedCustomerBillingRate",
			"description": ""
		}, {
			"name": "CustomerBillOnDemand",
			"description": ""
		}
	],
	"paths": {
		"/customerBill": {
			"get": {
				"tags": ["customerBill"],
				"operationId": "customerBillFind",
				"summary": "List customer bills",
				"description": "List a collection of customer bills managed repository with given criteria",
				"deprecated": false,
				"parameters": [{
						"name": "billDate.lte",
						"required": false,
						"in": "query",
						"description": "Optional filter by date lower than",
						"type": "string",
						"format": "date"
					}, {
						"name": "billDate.gte",
						"required": true,
						"in": "query",
						"description": "Optional filter by date greater or equal than",
						"type": "string",
						"format": "date"
					}, {
						"name": "relatedParty.id",
						"required": false,
						"in": "query",
						"description": "Identifier of the related party...",
						"type": "string"
					}, {
						"name": "limit",
						"required": false,
						"in": "query",
						"description": "maximum number of elements to retrieve. No limit by default",
						"type": "integer",
						"format": "int32"
					}, {
						"name": "publicKey",
						"required": false,
						"in": "query",
						"description": "MSISDN",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/CustomerBill"
							}
						},
						"headers": {
							"X-Total-Count": {
								"description": "",
								"type": "integer",
								"format": "int32"
							},
							"X-Result-Count": {
								"description": "",
								"type": "integer",
								"format": "int32"
							}
						}
					},
					"400": {
						"description": "Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value",
						"schema": {
							"$ref": "#/definitions/ZError"
						}
					},
					"404": {
						"description": "Not Found\n\nList of supported error codes:\n- 60: Resource not found",
						"schema": {
							"$ref": "#/definitions/ZError"
						}
					},
					"503": {
						"description": "Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !",
						"schema": {
							"$ref": "#/definitions/ZError"
						}
					}
				}
			}
		},
		"/customerBill/{id}": {
			"get": {
				"tags": ["customerBill"],
				"operationId": "customerBillGet",
				"summary": "Retrieve a customer bill",
				"description": "Retrieve a customer bill identified by its id and managed in a customer bills repository",
				"deprecated": false,
				"parameters": [{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "string",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"$ref": "#/definitions/CustomerBill"
						}
					},
					"400": {
						"description": "Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value",
						"schema": {
							"$ref": "#/definitions/ZError"
						}
					},
					"404": {
						"description": "Not Found\n\nList of supported error codes:\n- 60: Resource not found",
						"schema": {
							"$ref": "#/definitions/ZError"
						}
					},
					"503": {
						"description": "Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !",
						"schema": {
							"$ref": "#/definitions/ZError"
						}
					}
				}
			}
		},
		"/customerBill/{id}/file": {
			"get": {
				"tags": ["customerBill"],
				"operationId": "customerBillFile",
				"summary": "download customer bill",
				"description": "",
				"deprecated": false,
				"parameters": [{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "string",
						"description": ""
					}
				],
				"produces": [""],
				"responses": {
					"200": {
						"description": "Success",
						"schema": {
							"type": "file"
						}
					},
					"400": {
						"description": "Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value",
						"schema": {
							"$ref": "#/definitions/ZError"
						}
					},
					"404": {
						"description": "Not Found\n\nList of supported error codes:\n- 60: Resource not found",
						"schema": {
							"$ref": "#/definitions/ZError"
						}
					},
					"503": {
						"description": "Service Unavailable\n\nList of supported error codes:\n- 5: The service is temporarily unavailable\n- 6: Orange API is over capacity, retry later !",
						"schema": {
							"$ref": "#/definitions/ZError"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"stateValue": {
			"description": "",
			"type": "string",
			"enum": ["new", "onHold", "validated", "sent", "partiallyPaid", "settled"]
		},
		"StateValues": {
			"description": "",
			"type": "string",
			"enum": ["inProgress", "rejected", "done", "terminatedWithError"]
		},
		"ZErrorDetail": {
			"description": "",
			"required": ["code", "message"],
			"type": "object",
			"properties": {
				"code": {
					"description": "",
					"type": "integer",
					"format": "int32"
				},
				"message": {
					"description": "",
					"type": "string"
				},
				"description": {
					"description": "",
					"type": "string"
				},
				"infoURL": {
					"description": "",
					"type": "string"
				}
			}
		},
		"ZError": {
			"description": "",
			"required": ["code", "message"],
			"type": "object",
			"properties": {
				"code": {
					"description": "",
					"type": "integer",
					"format": "int32"
				},
				"message": {
					"description": "",
					"type": "string"
				},
				"description": {
					"description": "",
					"type": "string"
				},
				"infoURL": {
					"description": "",
					"type": "string"
				},
				"details": {
					"description": "",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ZErrorDetail"
					}
				}
			}
		},
		"CustomerBill": {
			"description": "The billing account receives all charges (recurring, one time and usage) of the offers and products assigned to it during order process. Periodically according to billing cycle specifications attached to the billing account or as a result of an event, a customer bill (aka invoice) is produced. This customer bill concerns different related parties which play a role on it : for example, a customer bill is produced by an operator, is sent to a bill receiver and has to be paid by a payer.\nA payment method could be assigned to the customer bill to build the call of payment. Lettering process enables to assign automatically or manually incoming amount from payments to customer bills (payment items).\nA tax item is created for each tax rate used in the customer bill.\nThe financial account represents a financial entity which records all customer’s accounting events : payment amount are recorded as credit and invoices amount are recorded as debit. It gives the customer overall balance (account balance).\nThe customer bill is linked to one or more documents that can be downloaded via a provided url.",
			"type": "object",
			"properties": {
				"id": {
					"description": "Unique identifier of he bill",
					"type": "string"
				},
				"billNo": {
					"description": "Bill reference known by the customer or the party and displayed on the bill. Could be different from the id",
					"type": "string"
				},
				"state": {
					"description": "",
					"$ref": "#/definitions/stateValue"
				},
				"lastUpdate": {
					"description": "Date of bill last update",
					"type": "string",
					"format": "date-time"
				},
				"billDate": {
					"description": "Bill date",
					"type": "string",
					"format": "date-time"
				},
				"amountDue": {
					"description": "Amount due for this bill expressed in the given currency",
					"$ref": "#/definitions/Money"
				},
				"paymentDueDate": {
					"description": "Date at which the amount due should have been paid",
					"type": "string",
					"format": "date-time"
				},
				"remainingAmount": {
					"description": "Remaining amount to be paid for this bill expressed in the given currency",
					"$ref": "#/definitions/Money"
				},
				"appliedPayment": {
					"description": "A list of payment items already assigned to this bill",
					"type": "array",
					"items": {
						"$ref": "#/definitions/AppliedPayment"
					}
				},
				"billingAccount": {
					"description": "Reference of the BillingAccount that produced this bill",
					"$ref": "#/definitions/BillingAccountRef"
				},
				"relatedParty": {
					"description": "A list of related party references. A related party defines party or party role linked to the bill",
					"type": "array",
					"items": {
						"$ref": "#/definitions/RelatedPartyRef"
					}
				},
				"billDocument": {
					"description": "A list of documents accompanying an entity",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Attachment"
					}
				}
			}
		},
		"TimePeriod": {
			"description": "A business entity used to represent a period between a start and an end date and time",
			"type": "object",
			"properties": {
				"startDateTime": {
					"description": "Start date and time of the period",
					"type": "string",
					"format": "date-time"
				},
				"endDateTime": {
					"description": "End date and time of the period",
					"type": "string",
					"format": "date-time"
				}
			}
		},
		"Money": {
			"description": "A base / value business entity used to represent money",
			"type": "object",
			"properties": {
				"unit": {
					"description": "Currency code (ISO4217 norm uses 3 letters to define the currency).",
					"type": "string"
				},
				"value": {
					"description": "A positive floating point number",
					"type": "number",
					"format": "float"
				}
			}
		},
		"Attachment": {
			"description": "Attachment refers to extensions or additional parts that is or may be attached to something (agreements, contracts, appointments) to perform a particular function. They can be communication attachments, documents and other.",
			"type": "object",
			"properties": {
				"name": {
					"description": "Name of the attachment",
					"type": "string"
				},
				"mimeType": {
					"description": "Mime type of the attachment",
					"type": "string"
				},
				"sizeUnit": {
					"description": "Size unit (in bytes by default)",
					"type": "string"
				},
				"size": {
					"description": "The size  in Bytes of the document or attachment",
					"type": "number",
					"format": "float"
				},
				"url": {
					"description": "URL of the attachment",
					"type": "string"
				}
			}
		},
		"AppliedPayment": {
			"description": "The applied payment is the result of lettering process. It enables to assign automatically or manually part of incoming payment amount to a bill.",
			"type": "object",
			"properties": {
				"appliedAmount": {
					"description": "Part of a payment amount lettered to the bill",
					"$ref": "#/definitions/Money"
				},
				"payment": {
					"description": "A payment reference",
					"$ref": "#/definitions/PaymentRef"
				}
			}
		},
		"BillingAccountRef": {
			"description": "BillingAccount reference. A BillingAccount is a detailed description of a bill structure.",
			"type": "object",
			"properties": {
				"id": {
					"description": "Unique identifier of the billing account",
					"type": "string"
				}
			}
		},
		"TaxItem": {
			"description": "A tax item is created for each tax rate and tax type used in the bill. The tax item specifies the applied tax rate and the total resulting amount.",
			"type": "object",
			"properties": {
				"taxCategory": {
					"description": "A tax category",
					"type": "string"
				},
				"taxRate": {
					"description": "Applied rate of the tax",
					"type": "number",
					"format": "float"
				},
				"taxAmount": {
					"description": "Amount of tax expressed in the given currency",
					"$ref": "#/definitions/Money"
				}
			}
		},
		"PaymentMethodRef": {
			"description": "PaymentMethod reference. A payment method defines a specific mean of payment (e.g direct debit).",
			"type": "object",
			"properties": {
				"id": {
					"description": "Unique identifier of the payment method",
					"type": "string"
				},
				"href": {
					"description": "Reference of the payment method",
					"type": "string"
				},
				"name": {
					"description": "Name of the payment method",
					"type": "string"
				}
			}
		},
		"RelatedPartyRef": {
			"description": "RelatedParty reference. A related party defines party or party role linked to a specific entity.",
			"type": "object",
			"properties": {
				"id": {
					"description": "Unique identifier of a related party",
					"type": "string"
				},
				"name": {
					"description": "Related party name",
					"type": "string"
				},
				"role": {
					"description": "Role played by the related party",
					"type": "string"
				}
			}
		},
		"FinancialAccountRef": {
			"description": "Financial account reference. An account of money owed by a party to another entity in exchange for goods or services that have been delivered or used. A finacial account aggregates the amounts of one or more party accounts (billing or settlement) owned by a given party.",
			"type": "object",
			"properties": {
				"id": {
					"description": "Unique identifier of the account",
					"type": "string"
				},
				"href": {
					"description": "Unique reference of the account",
					"type": "string"
				},
				"name": {
					"description": "Account name",
					"type": "string"
				},
				"accountBalance": {
					"description": "Account Balances  linked to the account",
					"type": "array",
					"items": {
						"$ref": "#/definitions/AccountBalance"
					}
				}
			}
		},
		"PaymentRef": {
			"description": "A payment reference",
			"type": "object",
			"properties": {
				"id": {
					"description": "Unique identifier of the payment",
					"type": "string"
				},
				"href": {
					"description": "Reference of the payment",
					"type": "string"
				},
				"paymentDate": {
					"description": "Payment date",
					"type": "string",
					"format": "date-time"
				}
			}
		},
		"CustomerBillUpdate": {
			"description": "",
			"required": ["state"],
			"type": "object",
			"properties": {
				"state": {
					"description": "",
					"$ref": "#/definitions/stateValue"
				}
			}
		},
		"AppliedCustomerBillingRate": {
			"description": "A customer bill displays applied billing rates created before or during the billing process.",
			"required": ["id"],
			"type": "object",
			"properties": {
				"id": {
					"description": "Unique identifier of the customer applied billing rate",
					"type": "string"
				},
				"href": {
					"description": "Reference of the customer applied billing rate",
					"type": "string"
				},
				"name": {
					"description": "Name of the customer applied billing rate",
					"type": "string"
				},
				"description": {
					"description": "Additional data to be displayed on the bill for this customer applied billing rate",
					"type": "string"
				},
				"type": {
					"description": "Type of the applied billing rate : appliedBillingCharge (any kind of charge except taxation charges : recurringCharge, oneTimeCharge, usageCharge),  appliedBillingCredit (any kind of credit : rebate or productAlteration) or appliedPenaltyCharge (penalty charges such as late fees, payment rejection fees,...)",
					"type": "string"
				},
				"date": {
					"description": "Creation date of the applied billing rate",
					"type": "string",
					"format": "date-time"
				},
				"taxExcludedAmount": {
					"description": "Tax excluded amount to be charged on the bill (expressed in the given currency) for this applied billing rate",
					"$ref": "#/definitions/Money"
				},
				"taxIncludedAmount": {
					"description": "Tax included amount to be charged on the bill (expressed in the given currency) for this applied billing rate",
					"$ref": "#/definitions/Money"
				},
				"appliedTax": {
					"description": "A list of applied billing tax rates. The applied billing tax rate represents taxes applied to billing rate it refers to. It is calculated during the billing process",
					"$ref": "#/definitions/AppliedBillingTaxRate"
				},
				"bill": {
					"description": "Reference of the bill on which the applied billing rate  is presented",
					"$ref": "#/definitions/BillRef"
				},
				"characteristic": {
					"description": "A list of applied billing rate characteristics. An applied billing rate has dynamic characteristics according to the its type (characteristics are based on the service type, line of business or on others parameters for example)",
					"$ref": "#/definitions/AppliedBillingRateCharacteristic"
				}
			}
		},
		"AppliedBillingTaxRate": {
			"description": "The applied billing tax rate represents taxes applied billing rate it refers to. It is calculated during the billing process.",
			"required": ["taxAmount"],
			"type": "object",
			"properties": {
				"taxCategory": {
					"description": "A categorization of the tax rate",
					"type": "string"
				},
				"taxRate": {
					"description": "Applied rate",
					"type": "number",
					"format": "float"
				},
				"taxAmount": {
					"description": "Tax amount expressed in the given currency",
					"$ref": "#/definitions/Money"
				}
			}
		},
		"BillRef": {
			"description": "Bill reference",
			"type": "object",
			"properties": {
				"id": {
					"description": "Unique identifier of the bill",
					"type": "string"
				},
				"href": {
					"description": "Reference of the bill",
					"type": "string"
				}
			}
		},
		"AppliedBillingRateCharacteristic": {
			"description": "An applied billing rate has dynamic characteristics according to the its type (characteristics are based on the service type, line of business or on others parameters)",
			"type": "object",
			"properties": {
				"name": {
					"description": "Characteristic name",
					"type": "string"
				},
				"value": {
					"description": "Value affected to the characteristic",
					"type": "string"
				}
			}
		},
		"AccountBalance": {
			"description": "AccountBalance linked to the account",
			"type": "object",
			"properties": {
				"amount": {
					"description": "Balance amount",
					"$ref": "#/definitions/Money"
				},
				"type": {
					"description": "Type of the balance : deposit balance, disputed balance, loyalty balance, receivable balance....",
					"type": "string"
				},
				"validFor": {
					"description": "Balance validity period",
					"$ref": "#/definitions/TimePeriod"
				}
			}
		},
		"CustomerBillOnDemand": {
			"description": "This resource is used to manage the creation request of a customer bill in real-time (on demand).",
			"type": "object",
			"properties": {
				"id": {
					"description": "Unique identifier of the customer bill on demand request given by the server",
					"type": "string"
				},
				"href": {
					"description": "Reference of the customer bill on demand request",
					"type": "string"
				},
				"name": {
					"description": "Friendly name to identify the customer bill on demand request",
					"type": "string"
				},
				"description": {
					"description": "Additional data describing the customer bill on demand request",
					"type": "string"
				},
				"state": {
					"description": "State of the customer bill on demand request : rejected, inProgress, done or terminatedWithError",
					"$ref": "#/definitions/StateValues"
				},
				"lastUpdate": {
					"description": "The last date time when the customer bill on demand has been updated",
					"type": "string"
				},
				"billingAccount": {
					"description": "Reference of the billing account that produces the customer bill on demand",
					"$ref": "#/definitions/BillingAccountRef"
				},
				"relatedParty": {
					"description": "A related party for which the customer bill on demand is requested",
					"$ref": "#/definitions/RelatedPartyRef"
				},
				"customerBill": {
					"description": "Reference of the bill generated by the customer bill on demand request",
					"$ref": "#/definitions/BillRef"
				}
			}
		},
		"CustomerBillOnDemandRequest": {
			"description": "",
			"type": "object",
			"properties": {
				"name": {
					"description": "Friendly name to identify the customer bill on demand request",
					"type": "string"
				},
				"description": {
					"description": "Additional data describing the customer bill on demand request",
					"type": "string"
				},
				"billingAccount": {
					"description": "Reference of the billing account that produces the customer bill on demand",
					"$ref": "#/definitions/BillingAccountRef"
				},
				"relatedParty": {
					"description": "A related party for which the customer bill on demand is requested",
					"$ref": "#/definitions/RelatedPartyRef"
				}
			}
		}
	}
}
