<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:jaxws="http://cxf.apache.org/jaxws"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 	http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://cxf.apache.org/jaxws 					http://cxf.apache.org/schemas/jaxws.xsd">
	

	<bean id="soiPostProcessor" class="com.orange.bscs.api.aop.SOIPostProcessorFactory">
		<constructor-arg >
			<bean id="soiInvocationHander" class="com.orange.bscs.api.aop.SOIInvocationHandlerFactory">
				<constructor-arg ref="soiTransactionsManager"></constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
	

	<!-- Read the application configuration file -->
	<context:property-placeholder location="classpath:apibscs-default.properties" />

 
	<import resource="classpath:dao-test.xml" />


	<!--
		===================
		 GENERIC ENDPOINTS
		===================
	 -->
	<bean id="sampleServiceImpl" 
		  class="com.orange.bscs.api.test.ws.SampleServiceImpl">
	</bean>


	<bean id="addressService" 
		  class="com.orange.bscs.api.test.business.AddressService">
	</bean>
		
		
	<bean id="cacheableService"
		  class="com.orange.bscs.api.test.business.CacheableServiceImpl"/>
		
	<jaxws:endpoint
		  id="sampleServiceEndpoint"
		  implementor="#sampleServiceImpl"
		  address="/sampleService" 
		  serviceName="e:sampleService"
		  xmlns:e="http://sample.org">
	</jaxws:endpoint>		
		

</beans>
